<h1>Create Community</h1>

<%= simple_form_for @community, :url=>create_path do |f| %>
    <%= f.input_field "name"  %>
    <%= f.hidden_field "id"  %>
    <div class="class">
      <%= f.submit %>
    </div>
<% end %>

</br>
<%= link_to 'Show', @community %> |
<%= link_to 'Back', communities_url %>