<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <% if !@community.parentCommunity.nil? and @community.parentCommunity.size > 0%>
                <p>Parent Communities</p>
                <li><%= link_to "#{@community.parentCommunity['name']}", community_path(:id => "#{@community.parentCommunity['id']}")%></li>
            <% end %>
        </div>
    </div>

    <% $title = "Community" %>
    <h1><%= @community.name %></h1>

    <% unless @community.logo.nil? %>
        <img src=<%= $baseRestURL + @community.logo['retrieveLink'].to_s %>>
    <% end %>

    <% unless @community.copyrightText.size < 1 %>
        <h2>Copyright Text</h2>
        <p><% @community.copyrightText %></p>
    <% end %>

    <% unless @community.countItems.nil? %>
        <h2>Count Items: <%= @community.countItems %></h2>
    <% end %>

    <% unless @community.handle.nil? %>
        <p>Handle: <a href=<%= "http://hdl.handle.net/" + @community.handle %>><%= "http://hdl.handle.net/" + @community.handle %></a></p>
    <% end %>

    <% unless @community.introductoryText.size < 1 %>
        <h2>Introductory Text</h2>
        <p><%= strip_tags(@community.introductoryText) %></p>
    <% end %>

    <% unless @community.shortDescription.nil? %>
        <h2>Short Description</h2>
        <p><%= strip_tags(@community.shortDescription) %></p>
    <% end %>

    <% unless @community.sidebarText.size < 1 %>
        <h2>Sidebar Text</h2>
        <%= @community.sidebarText.html_safe %>
    <% end %>

    <% unless @community.subcommunities.size < 1 %>
        <h2>Communities within this Community</h2>
        <ul>
            <% i = 0 %>
            <% while @community.subcommunities.size > i %>
                <li>
                    <%= link_to "#{@community.subcommunities[i]['name']}", community_path(:id => "#{@community.subcommunities[i]['id']}") %>
                </li>
                <% i += 1 %>
            <% end %>
        </ul>
    <% end %>

    <% unless @community.collections.size < 1 %>
        <h2>Collections within this Community</h2>
        <ul>
            <% i = 0 %>
            <% while @community.collections.size > i %>
                <li>
                    <%= link_to "#{@community.collections[i]['name']}", collection_path(:id => "#{@community.collections[i]['id']}") %>
                </li>
                <% i += 1 %>
            <% end %>
        </ul>
    <% end %>

    <%= render partial: "shared/data_foot" %>
</div>

