<!DOCTYPE html>
<html>
<head>
    <title><%= $title %></title>
    <%= yield :index %>
    <%= yield :slide_menu %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'ruby_fav.ico' %>
    <style>
        body {

            padding-top: 60px;
        }
    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://github.com/mkalvas/dspace-rest-rails">DSpace Rails Project</a>
        </div>
        <div class="navbar-collapse collapse" data-no-turbolink>
            <ul class="nav navbar-nav">
                <li><%= link_to 'Home', communities_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
                <!-- Left in in case of desired further expansion
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <p class="navbar-text navbar-right">Created by Mike Kalvas</p>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container"><%= yield %></div>

<hr>
<footer>
    <ul class="list-inline text-center text-muted">
        <li>© <%=link_to 'Mike Kalvas', 'https://github.com/mkalvas' %> 2014</li>
        <li>•</li>
        <li><%= link_to 'About', about_path %></li>
        <li>•</li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li>•</li>
        <li><a href="http://github.com/mkalvas/dspace-rest-rails">GitHub</a></li>
    </ul>
</footer>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>